@use '../utils' as *;

$text-preset-1: clamp(calc-rem(20), 1rem + 1vw, calc-rem(22));
$text-preset-2: clamp(calc-rem(14), 0.625rem + 1vw, calc-rem(16));
$text-preset-3: clamp(calc-rem(12), 0.5rem + 1vw, calc-rem(14));
